* {
	box-sizing: border-box;
}
body,
h1 {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	font-family: "Inconsolata", monospace;
}
h1,
h2 {
	font-family: "Irish Grover", cursive;
	color: mediumpurple;
}
h1 {
	font-size: 3rem;
	color: white;
	text-shadow: 3px 0px 6px rgba(86, 37, 23, 0.49),
		3px 7px 14px rgba(86, 37, 23, 0.49), 3px 7px 14px rgba(86, 37, 23, 0.49);
}
header {
	height: 300px;
	background-image: url(/images/ba9e5ea5399b8be7d65d5bc201b71f40.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-top: 50px;
}
main {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
article {
	padding-right: 20px;
}
aside {
	width: 100%;
}
footer {
	text-align: center;
	background-color: burlywood;
}
li {
	margin-bottom: 20px;
}
figure {
	margin: auto;
}
img {
	width: 100%;
}
@media screen and (min-width: 800px) {
	main {
		flex-direction: row;
		align-items: flex-start;
	}
	aside {
		width: 300px;
	}
}
